body{
    background: #d2d2c1 url('imagens/fundo.png');
    font: 16px;
}
 #principal{
     width: 900px;
 }

 #menu {
     background-color: #c5c5b2;
     padding: 18px;
 }
 #conteudo{
     
     background: #e8e8d8;
     padding: 10px;
 }
 #rodape{
 }

 .bordaa{
     border: palegoldenrod;
     padding: 2px;
 }
 .centralizar{
     text-align: center;
 }
 
 h1{
     color: #828271;
     font-size: 1.2em;
 }
 a{
     color: #4b566a;
     text-decoration: none;
     padding: 7px;
     font-weight: bolder;
 }